<tr>
  <td height="0" width="600" align="center" style="background-color:#FFFFFF;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" class="content_wrap" width="100%">
      <tbody>
      <tr>
        <td width="100%" align="center">
          <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="content_wrap">
            <tbody>
            <tr>
              <td align="center">
                <table class="credit" border="0" cellspacing="0" cellpadding="0" align="left" width="100%">
                  <tbody>
                  <tr>
                    <td class="hidden">&nbsp;</td>
                    <td style=" font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#333333; padding-bottom:15px" align="left">Dear User,
                    </td>
                    <td class="hidden">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="25" class="hidden">&nbsp;</td>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:24px;color:#48274f;font-weight:bold;padding-bottom:8px" align="left">
                      Thank you for booking your tickets with Booking.Co.
                    </td>
                    <td width="25" class="hidden">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="hidden">&nbsp;</td>
                    <td height="30"></td>
                    <td class="hidden">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="25" class="hidden">&nbsp;</td>
                    <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:26px;color:#676767;padding-bottom:8px;" align="center">
                        <fieldset>
                         <label><h3>Movie Name</h3></label><p><%= @booking_hash[:booking_movie]%> </p>
                         <label><h3>Seat Number</h3></label><p><%= @booking_hash[:booked_seat]%> </p>
                         <label><h3>Booking Date</h3></label><p><%= @booking_hash[:booking_date]%> </p>
                         <label><h3>Booking Slot</h3></label><p><%= @booking_hash[:booking_slot]%> </p>
                         <label><h3>Movie Date</h3></label><p><%= @booking_hash[:movie_date]%> </p>
                         <label><h3>Price</h3></label><p><%= @booking_hash[:booking_price]%></p>
                         <label><h3>Screen</h3></label><p><%= @booking_hash[:booking_audi]%> </p>
                         <label><h3>Status</h3></label><p><%= @booking_hash[:booking_status]%> </p>
                      </fieldset>
                    </td>
                    <td width="25" class="hidden">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="25" class="hidden">&nbsp;</td>
                    <td></td>
                    <td width="25" class="hidden">&nbsp;</td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table></td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>